<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
        	http://www.springframework.org/schema/beans/spring-beans.xsd
        	http://www.springframework.org/schema/context
       		http://www.springframework.org/schema/context/spring-context.xsd
        	http://www.springframework.org/schema/mvc
        	http://www.springframework.org/schema/mvc/spring-mvc.xsd">
      
        
	<!-- 添加扫描注解，此包下 -->
   	<context:component-scan base-package="com.yy.web" />
   	<mvc:annotation-driven/>
   	
   	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 定义在mvc:interceptor下拦截特定请求 -->
			<mvc:mapping path="/jsp/doctor/*" />
			<mvc:mapping path="/jsp/hospital/*" />
			<mvc:mapping path="/jsp/medicine/*" />
			<mvc:mapping path="/jsp/registration/*" />
			<mvc:mapping path="/jsp/Resource/*" />
			<mvc:mapping path="/jsp/Role/index.html" />
			<mvc:mapping path="/jsp/Role/index2.html" />
			<mvc:mapping path="/jsp/User/*" />
			<bean class="com.yy.webtor.RoleTor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" 
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- <property name="maxUploadSize" value="104857600" />
		<property name="maxInMemorySize" value="4096" />
		<property name="defaultEncoding" value="UTF-8"></property> -->
	</bean>
	
	
	
	
	<!-- 配置视图解析器 -->
	<!-- 对转向页面的路径解析。prefix：前缀， suffix：后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<!-- 
			<property name="prefix" value="/WEB-INF/jsp/"/>
			<property name="suffix" value=".jsp"/> 
		-->
	</bean>
		
</beans>