ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 95px;
    background: url("../images/header-bg.jpg") no-repeat left top;
    /* background-color: #0F418F; */
}
.header .logo{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.header .search{
    float: left;
    position: relative;
    width: 347px;
    height: 30px;
    margin-left: 80px;
    margin-top: 32px;
}
.header .search .m-input{
    position: absolute;
    left: 0;
    top: 1px;
    width: 288px;
    height: 29px;
}
.header .search .m-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 30px;
    background: url("../images/search-btn.png") repeat-x;
    border-radius: 0;
}
.header .login{
    float: right;
    margin-top: 40px;
    margin-right: 40px;
}
.header .login>ul>li{
    float: left;
    padding-left: 20px;
}
.header .login>ul>li + li{
    margin-left: 20px;
    border-left: 1px solid #fff;
}
.header .login>ul>li a{
    color: #fff;
}
.main{
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    /* padding-top: 95px; */
}
.main .sidebar{
    float: left;
    width: 350px;
    height: 100%;
    background:url(../images/map-leftbg.jpg) left top;
    background-size: 100% 100%;
}
.main .map{
    margin-left: 300px;
    height: 100%;
}
.map-panel{
    line-height: 20px;
    font-size: 12px;
    font-family: SimSun;
}
.map-panel .map-name{
    margin-bottom: 5px;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #666;
    border-bottom: 1px solid #ddd;
}
.map-panel .map-type span{
    margin-right: 5px;
    color: #666;
}
.map-panel .map-add{
    color: #8ab616;
}
.main .sidebar .side-tab{
    height: 100%;
}
.main .sidebar .side-tab .tab-header{
    float: left;
    width: 55px;
    height: 100%;
    background-color: #03a9f4;
}
.main .sidebar .side-tab .tab-header>ul>li{
    padding: 5px 0 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.main .sidebar .side-tab .tab-header>ul>li:hover{
    background-color: #008dd5;
}
.main .sidebar .side-tab .tab-header>ul>li.active{
    background-color: #0177c7;
}
.main .sidebar .side-tab .tab-body{
    margin-left: 55px;
    height: 100%;
}
.main .sidebar .side-tab .tab-body>ul{
    height: 100%;
}
.main .sidebar .side-tab .tab-body>ul>li + li{
    display: none;
}
.main .sidebar .side-tab .tab-body>ul>li{
    position: relative;
    padding: 15px;
    height: 100%;
}
.main .sidebar .map-filter{
    position: relative;
    z-index: 7;
}
.main .sidebar .map-filter>ul>li{
    margin-bottom: 15px;
}
.main .sidebar .map-filter>ul>li span{
    display: block;
    float: left;
    width: 60px;
    height: 32px;
    line-height: 32px;
    text-align: right;
    color: #333;
}
.main .sidebar .map-filter>ul>li select{
    display: block;
    width: 100%;
    height: 32px;
    background-color: #fff;
}
.main .sidebar .map-result .result-list{
    /* position: absolute; */
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0px 0 15px;
    height: 400px;
}
.main .sidebar #normalList .map-result .result-list{
    padding-top: 55px;
}
.main .sidebar .map-result .result-title{
    position: relative;
    margin: 0;
}
.main .sidebar .map-result .result-num{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #666;
}
.main .sidebar .map-result .result-num em{
    font-style: normal;
    color: #ff9a95;
}
.result-list>ul{
    height: 100%;
    overflow: auto;
    float: left;
}
.result-list>ul>li{
    padding: 15px 15px 10px;
    font-size: 12px;
    cursor: pointer;
}
.result-list>ul>li>span{
  float: left;
  display: block;
  width: 25px;
  height: 40px;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  color: #ff0041;
  background: url("../images/result-list-icon.png") no-repeat;
  background-size: 100%;
  vertical-align: middle;
}
.result-list>ul>li:hover{
    background-color: #008dd5;
    color: #fff;
}
.result-list>ul>li + li{
    border-top: 1px dashed #f8f8f8;
}
.result-list-info{
  float: left;
  width: 270px;
  padding-left: 10px;
}
.result-list .result-name{
    font-family: "Microsoft YaHei";
    color: #fff;
}
.result-add{
  color: #c8c8c8
}
.result-list .result-name span{
    float: left;
    display: block;
    width: 16px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    color: #497fda;
    background: url("../images/b_h_bg.gif") no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.result-list .result-name div{
    line-height: 25px;
}
.result-list .result-type{
    margin-bottom: 10px;
}
.result-list .result-type span{
    margin-right: 10px;
}

/* new */
.map_tab{
    border: 1px solid #ddd;
    width: 300px;
}
.map_tab .tab-head{
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}
.map_tab .tab-head ul{
}
.map_tab .tab-head li{
    float: left;
    border-right:1px solid #ddd;
    cursor: pointer;
    width: 24%;
    text-align: center;
    color: #497fda;
}
.map_tab .tab-head li:hover,
.map_tab .tab-head li.active{
    background-color: #497fda;
    color: #fff;
}
.map_tab .tab-body li+li{
    display: none;
}
.map_tab .tab-head li:last-child{
    /* border-right: none; */
}
.map_tab .tab-body{
    padding: 10px;
}
.map_tab .tab-body p{
    margin: 0 0 5px 0;
}
.map_detail{
    text-align: center;
    margin-top: 5px;
}
.map_detail span{
    display: inline-block;
    padding:0 15px;
    line-height: 25px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #4477cd;
    color: #fff;
}
.map_detail span a{
    color: #fff;
}
/*common*/
li{ list-style:none;}
.hide{ display: none; }
.m_l_0{ margin-left: 0; }
/*wrap*/
.map_wrap{ width: 1000px; margin: 40px auto; }

/*bg_color*/
.bg{
  /* background-color: rgba(243,243,243,.7);
  border: 1px solid #ebebeb;  */
  padding: 24px 12px;
}

/*content_left*/
.map_l{ width: 266px; display: inline-block; vertical-align: middle; font-size: 14px;}

/*content_right*/
.map_r{ width: 330px; display: inline-block; vertical-align: middle; margin-left: 120px; font-size: 12px; }

/*form*/
.map_form{ height: 32px; line-height: 30px; border: 1px solid #ddd; background-color: #fff; padding: 0 0 0 15px; margin-bottom: 8px; }
.map_form input{ height: 30px; line-height: 30px;border-color: transparent; width: 85%; display: inline-block;outline: none;}
.map_form button{
  background-color: #3989fc;
  border: none;
  width: 13%;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  float: right;
}

/*content_left tab_con*/
.map_tabcon{ margin-bottom: 8px; }
.map_tabcon .h_bg{ margin-bottom: 8px; color: #fff; height: 22px; padding-left: 10px; line-height: 22px; font-weight: normal;}
.map_tabcon .h_bg_1{ width: 60px; background: url(../images/h_bg_1.gif) no-repeat; }
.map_tabcon .h_bg_2{ width: 60px; background: url(../images/h_bg_2.gif) no-repeat; }
.map_tabcon .h_bg_3{ width: 100%; background: url(../images/h_bg_3.gif) no-repeat; border-bottom: 1px solid #e07620; position: relative; }
.map_tabcon .h_bg_3 span{ display: inline-block; position: absolute; right: 0; color: #666; }
.map_tabcon select{ width: 100%; background-color: #fff; height: 32px; line-height: 32px; border: 1px solid #cfcfcf; color: #666; }
.map_tabcon_con{ background-color: #fff; border: 1px solid #ddd; padding: 10px; color: #666;filter:alpha(opacity=100); -moz-opacity:1; opacity:1; }
.map_tabcon_con li{line-height: 24px; cursor: pointer;}
.map_tabcon_con li b{ color: #81c223; }
.map_tabcon_con_bot dl{ background-color: #f8f8f8; border-bottom: 1px dashed #e3e3e3; padding: 12px; }
.map_tabcon_con_bot dl:hover,.map_tabcon_con_bot dl:focus,.map_tabcon_con_bot dl.active{ background-color: #fff; }
.map_tabcon_con_bot dl dt{ display: inline-block; width: 22px; height: 28px; color: #497fda; background-image: url(../images/b_h_bg.gif); text-align: center; vertical-align: top; margin-right: 15px; }
.map_tabcon_con_bot dl dd{ display: inline-block; width: 160px; vertical-align: top; }
.map_tabcon_con_bot dl dd p:nth-child(2){ color: #fff; padding: 4px 6px; display: inline-block; margin: 8px 0;}
.map_tabcon_con_bot dl dd p.c_98befd{ background-color: #98befd; }
.map_tabcon_con_bot dl dd p.c_c098fd{ background-color: #c098fd; }
.map_tabcon_con_bot dl dd p.c_fd98b4{ background-color: #fd98b4; }
.map_tabcon_con_bot dl dd p:nth-child(3){ color: #2662e9; }
.map_tabcon_con_bot dl:last-child{ border-bottom: none; }
.down_btn{ color: #497fda; font-size: 20px; margin: 0 auto; width: 8%; display: block; }

/*content_right*/
.map_r_con{ background-color: #fff; padding: 10px 14px; }
.close{ display: inline-block; float: right; cursor: pointer; color: #aaa; }
.map_r_con h4{ border-bottom: 1px solid #ddd; text-align: center; font-weight: normal; line-height: 32px; margin-bottom: 9px; font-size: 14px; }
.map_r_con p.c_8ab616{ color: #8ab616; }
.set_1{ padding-left: 10px; margin-bottom: 10px; }
.set_2{ padding-left: 22px; margin-bottom: 10px; color: #999; }
.map_r button{ padding: 9px 27px; background-color: #497fda; color: #fff; margin: 10px auto; width: 44%; border-radius: 6px; display: block; }
.map_r button:hover,.map_r button:focus{ background-color: #4477cd; }
/*content_right_tab tit*/
.map_r_con_tab .zj_tab_tit{ border:1px solid #e2e2e2; height: 30px; line-height: 30px; color: #497fda; text-align: center; font-size: 12px; margin-bottom: 10px; }
.map_r_con_tab .zj_tab_tit li{ float: left; border-right: 1px solid #e2e2e2; width: 25%; cursor: pointer; }
.map_r_con_tab .zj_tab_tit li:last-child{ border-right: none; }
.map_r_con_tab .zj_tab_tit li.active,.map_r_con_tab .zj_tab_tit li:hover,.map_r_con_tab .zj_tab_tit li:focus{ color: #fff; background-color: #497fda; }

/*content_right_tab con*/
.map_r_con_tab .zj_tab_con .zj_list li{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; color: #999; padding-left: 12px; line-height: 24px;}
.map_r_con_tab .zj_tab_con .zj_list li i{ color: #497fda; margin-right: 10px; }

/*content_left tab_tit*/
.map_tab_l .zj_tab_tit{
  height: 35px;
  border-bottom: 1px solid #2395f6
}
.map_tab_l .zj_tab_tit li{
  float: left;
  width: 25%;
  text-align:center;
  cursor:pointer;
  position: relative;
  height: 35px;
  line-height: 35px;
}
.map_tab_l .zj_tab_tit li.active,
.map_tab_l .zj_tab_tit li:hover{
  background: #2395f6
}
.map_tab_l .zj_tab_tit li i{ display: none; width: 20px; height: 20px; margin: 8px auto 6px; background: url(../images/tab_tit_icon.png) no-repeat; }
.map_tab_l .zj_tab_tit li span{ display: block; color: #fff;}
.zj_tab_tit li.active span,
.zj_tab_tit li:hover span{ color: #fff; }
.map_tab_l .zj_tab_tit li:nth-child(1) i{ background-position: 0 0; }
.map_tab_l .zj_tab_tit li:nth-child(2) i{ background-position: -45px 0; }
.map_tab_l .zj_tab_tit li:nth-child(3) i{ background-position: -91px 0; }
.map_tab_l .zj_tab_tit li:nth-child(4) i{ background-position: -138px 0; }
.map_tab_l .zj_tab_tit li:nth-child(5) i{ background-position: -184px 0; }
.map_tab_l .zj_tab_tit li:nth-child(1):hover i,.map_tab_l .zj_tab_tit li:nth-child(1).active i{ background-position: -22px 0; }
.map_tab_l .zj_tab_tit li:nth-child(2):hover i,.map_tab_l .zj_tab_tit li:nth-child(2).active i{ background-position: -68px 0; }
.map_tab_l .zj_tab_tit li:nth-child(3):hover i,.map_tab_l .zj_tab_tit li:nth-child(3).active i{ background-position: -114px 0; }
.map_tab_l .zj_tab_tit li:nth-child(4):hover i,.map_tab_l .zj_tab_tit li:nth-child(4).active i{ background-position: -161px 0; }
.map_tab_l .zj_tab_tit li:nth-child(5):hover i,.map_tab_l .zj_tab_tit li:nth-child(5).active i{ background-position: -207px 0; }
.map_tab_l .zj_tab_tit li b{ position: absolute; bottom: 0; left: 35%; width: 0; height: 0; overflow: hidden; border: 4px solid transparent; border-bottom-color: #e0b520; position: absolute; left: 50%; margin-left: -2px; display: none;}
.map_tab_l .zj_tab_tit li:hover b,.map_tab_l .zj_tab_tit li.active b{ display: none; }

.map-acname,
.map-tel,
.map-email,
.map-add{
    line-height: 25px;
    color: #333;

}
.map-add{
    color: #8ab616;
}
.map-add i{
    margin-right: 5px;
}
.sx-mapsearch{
  margin: 15px 0;
}
.sx-mapsearch span{
  float: left;
  display: inline-block;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #333;
  border: 1px solid #ddd;
  background: #fff;
  text-align: center;
}
.sx-mapsearch select{
  width: 275px;
  float: left;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ddd;
}
