<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bdqn.mapper.TbDispensingMapper" >
  <resultMap id="BaseResultMap" type="com.bdqn.pojo.TbDispensing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="register_id" property="registerId" jdbcType="INTEGER" />
    <result column="medicineNmae" property="medicinenmae" jdbcType="VARCHAR" />
    <result column="medicineNumber" property="medicinenumber" jdbcType="INTEGER" />
    <result column="medicineYF" property="medicineyf" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
        <!-- 查询  -->
  <select id="findReListDi" parameterType="java.lang.Integer"  resultType="com.bdqn.pojo.TbRegister">
  	
	select *,(select nurseId from `tb_be_hospitalized` where register_id=tb_register.`id`) as hushi
		
	from `tb_register` where  1=1
	<if test="id != null">
		and	id like CONCAT('%',#{id},'%') 
	</if>
		and status=3 
		 order by updated desc 
  </select>
  
  <!-- look看 -->
    <select id="findLookRe" parameterType="java.lang.Integer"  resultType="com.bdqn.pojo.TbRegister">
  	
	select tb_register.`id`,name,`medicineNmae`,`medicineNumber`,medicineYF,tb_dispensing.`id` as did from  
	tb_register inner join tb_dispensing on 
	tb_register.`id`=tb_dispensing.`register_id`
	 where  register_id=#{id}
  </select>
  
  
  
  
  
  <!-- 结束 -->
  
  
  
  
  
  
  
  <sql id="Base_Column_List" >
    id, register_id, medicineNmae, medicineNumber, medicineYF, created, updated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bdqn.pojo.TbDispensingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_dispensing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_dispensing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_dispensing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bdqn.pojo.TbDispensingExample" >
    delete from tb_dispensing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bdqn.pojo.TbDispensing" >
    insert into tb_dispensing (id, register_id, medicineNmae, 
      medicineNumber, medicineYF, created, 
      updated)
    values (#{id,jdbcType=INTEGER}, #{registerId,jdbcType=INTEGER}, #{medicinenmae,jdbcType=VARCHAR}, 
      #{medicinenumber,jdbcType=INTEGER}, #{medicineyf,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, 
      #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bdqn.pojo.TbDispensing" >
    insert into tb_dispensing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="registerId != null" >
        register_id,
      </if>
      <if test="medicinenmae != null" >
        medicineNmae,
      </if>
      <if test="medicinenumber != null" >
        medicineNumber,
      </if>
      <if test="medicineyf != null" >
        medicineYF,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="updated != null" >
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="registerId != null" >
        #{registerId,jdbcType=INTEGER},
      </if>
      <if test="medicinenmae != null" >
        #{medicinenmae,jdbcType=VARCHAR},
      </if>
      <if test="medicinenumber != null" >
        #{medicinenumber,jdbcType=INTEGER},
      </if>
      <if test="medicineyf != null" >
        #{medicineyf,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bdqn.pojo.TbDispensingExample" resultType="java.lang.Integer" >
    select count(*) from tb_dispensing
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_dispensing
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.registerId != null" >
        register_id = #{record.registerId,jdbcType=INTEGER},
      </if>
      <if test="record.medicinenmae != null" >
        medicineNmae = #{record.medicinenmae,jdbcType=VARCHAR},
      </if>
      <if test="record.medicinenumber != null" >
        medicineNumber = #{record.medicinenumber,jdbcType=INTEGER},
      </if>
      <if test="record.medicineyf != null" >
        medicineYF = #{record.medicineyf,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_dispensing
    set id = #{record.id,jdbcType=INTEGER},
      register_id = #{record.registerId,jdbcType=INTEGER},
      medicineNmae = #{record.medicinenmae,jdbcType=VARCHAR},
      medicineNumber = #{record.medicinenumber,jdbcType=INTEGER},
      medicineYF = #{record.medicineyf,jdbcType=INTEGER},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bdqn.pojo.TbDispensing" >
    update tb_dispensing
    <set >
      <if test="registerId != null" >
        register_id = #{registerId,jdbcType=INTEGER},
      </if>
      <if test="medicinenmae != null" >
        medicineNmae = #{medicinenmae,jdbcType=VARCHAR},
      </if>
      <if test="medicinenumber != null" >
        medicineNumber = #{medicinenumber,jdbcType=INTEGER},
      </if>
      <if test="medicineyf != null" >
        medicineYF = #{medicineyf,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bdqn.pojo.TbDispensing" >
    update tb_dispensing
    set register_id = #{registerId,jdbcType=INTEGER},
      medicineNmae = #{medicinenmae,jdbcType=VARCHAR},
      medicineNumber = #{medicinenumber,jdbcType=INTEGER},
      medicineYF = #{medicineyf,jdbcType=INTEGER},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>